{
    "playerIdTemplate": "kaltura_player",
    "kalturaServiceUrl": "https://cdnapi-ev.kaltura.com",
    "searchApiUrl": "https://syme.dev.lake.kaltura.com/v1/search",
    "searchApiBearerToken": "your-special-token",
    "partnerId": 100000,
    "uiConfId": 100000,
    "startInAutoPlay": false,
    "shouldPlayOnHover": true,
    "preLoad": "auto",
    "startingVolume": 1,
    "ks": "your-kaltura-account-playback-session-KS"
}
