@font-face {
  font-family: "Centra No1 Book";
  src: local("Centra No1 Book"),
    url("./assets/fonts/CentraNo1-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.App,
.react_kaltura_embedded_search {
  max-width: 1200px;
  margin: auto; /* to center the carousel */
  font-family: "Centra No1 Book", Arial, sans-serif;
}
.react_kaltura_embedded_search_prompt_container {
  border-style: none;
  font-weight: 700;
  overflow: visible;
  margin-bottom: 30px;
}
.react_kaltura_embedded_search_prompt_input_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.react_kaltura_embedded_search_prompt_input {
  border: none;
  border-bottom: 2px solid rgb(102, 102, 102);
  font-size: 1.6em;
  padding: 10px;
  color: #333;
  width: 100%;
}
.react_kaltura_embedded_search_prompt_input:focus {
  outline: none;
  box-shadow: 0 8px 6px -6px rgb(160, 160, 160);
}
.react_kaltura_embedded_search_prompt_submit {
  border: none;
  background: none;
}
.react_kaltura_embedded_search_prompt_submit:focus {
  outline: none;
}
.react_kaltura_embedded_search_prompt_submit:focus
  .react_kaltura_embedded_search_prompt_submit_svg {
  /* what to do when the search button is in focus? */
  background-color: #282828;
}
.react_kaltura_embedded_search_prompt_submit
  .react_kaltura_embedded_search_prompt_submit_svg {
  width: 2.1em;
  height: 2.1em;
  cursor: pointer;
  background-color: #aaa;
  mask-image: url(./assets/search_icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url(./assets/search_icon.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}
.react_kaltura_search_results_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
}
.react_kaltura_search_results_container,
.react_kaltura_search_results_msg {
  position: relative;
  font-size: 1.4em;
  color: #282828;
}
.react_kaltura_search_results_msg_loading {
  /* loading search results... */
}
.react_kaltura_search_results_msg_error {
  /* there was an error loading data message */
}
.react_kaltura_search_results_msg_hint {
  /* the hint when the component loaded - asking te user to ask a question */
}
.react_kaltura_search_results_sentences_container {
  display: flex;
  flex-direction: column;
}
.react_kaltura_search_results_sentence {
  display: contents;
  padding: 0;
  margin: 0;
}
.react_kaltura_search_results_sentence_highlighted {
  border-radius: 5px;
  color: #006cfa5f;
 }
.react_kaltura_search_results_sentence_expanded_content {
  visibility: collapse;
  opacity: 0;
  max-height: 0;
  border-radius: 5px;
  transition: visibility 850ms ease-out, opacity 850ms ease-out,
    max-height 1s linear;
  color: #282828;
  background-color: #41bdff71;
  margin-left: 15px;
  font-style: italic;
}

.react_kaltura_search_results_sentence_highlighted
  .react_kaltura_search_results_sentence_expanded_content {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  transition: visibility 200ms ease-out, opacity 250ms ease-out,
    max-height 50ms linear;
} */
.react_kaltura_search_results_sentence_expanded_content::before {
  content: open-quote;
  position: relative;
  left: 0.1em;
  top: 0.3em;
  font-size: 2.2em;
  line-height: 0.2em;
  font-family: Georgia, serif;
  color: #00a078;
  font-weight: 900;
  padding-left: 0.1em;
  transform: rotate(340deg);
  font-style: normal;
  display: inline-block;
}
.react_kaltura_search_results_sentence_expanded_content::after {
  content: close-quote;
  position: relative;
  left: -0.1em;
  top: 0.25em;
  font-size: 2.2em;
  line-height: 0.2em;
  font-family: Georgia, serif;
  color: #00a078;
  font-weight: 900;
  padding-left: 0.1em;
  transform: rotate(10deg);
  font-style: normal;
  display: inline-block;
}
.react_kaltura_players_gallery {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 122px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.react_kaltura_players_gallery_item_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 170px;
  min-width: 170px;
  height: 100%;
  margin: 5px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}
.react_kaltura_players_gallery_item_container.highlight {
  opacity: 1;
}
.react_kaltura_players_gallery_item_container.highlight
  .react_kaltura_players_gallery_item_title {
  background-color: #41beff;
}
.react_kaltura_player_container {
  border-radius: 8px;
  overflow: hidden;
}
.react_kaltura_players_gallery_item_player {
  flex: 1 1 auto;
}
.react_kaltura_players_gallery_item_title {
  flex: none;
  font-weight: 100;
  font-size: 0.7em;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  width: inherit;
  height: 24px;
  padding-top: 2px;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 120px) {
  .react_kaltura_players_gallery_item_title {
    display: none;
  }
}
.kaltura-player-container,
.playkit-player,
.playkit-video-player,
.playkit-container,
.playkit-player video,
.playkit-black-cover,
.playkit-poster {
  background-color: transparent !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}
.playkit-player video,
.playkit-black-cover {
  height: auto;
}
.playkit-poster {
  display: none !important;
}
.kaltura-player-container .playkit-bottom-bar {
  display: none !important;
}
.kaltura-player-container .playkit-player {
  border-radius: 8px !important;
}
